body {
  max-width: 1024px; 
  padding: 0px 0 20px 0px;
  margin: 0px auto 0px auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: linear_gradient(#2a2a29, #1c1c1c);
}
h1, h2, h3, h4, h5, h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}
p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}
h1, h2, h3 {
  line-height: 1.1;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}
a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration:none;
}
a: hover {
    color: #ffeb9b;
  }
section img {
  max-width: 100%;
}
code {
  font-family: Courier, 'Courier New', monospace;
  color: #efefef;
  font-size: 13px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
  text-shadow: 0px 1px 0px #000;
}
pre {
  padding:8px 15px;
  background: #191919;
  border-radius: 2px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
#header {
  z-index: 100;
  left:0;
  top: 0px;
  height: 60px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
}
nav {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 10px;
  background: blue;
  margin: 6px auto;
}
nav>li {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  display: inline;
  color: white;
  line-height: 50px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
li>a {
  color: white;
  border: 1px solid #5d910b;
  background: linear_gradient(#93bd20, #659e10);
  border-radius: 2px;
  background-color: #93bd20;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
li>a: hover {
  background-color: #659e10;
  border: 1px solid #527f0e;
}
section {
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
}
header, footer, nav, section {
  display: block;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: 0.25em;
}
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
nav ul {
  list-style: none;
  list-style-image: none;
}
#top {
  float: left;
  text-align: left;
  padding: 45px 0 0 0;
}
